@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
body {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

main {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  margin-top: -100px;
  padding: 50px;
  font-size: 3rem;
  text-transform: uppercase;
  word-spacing: 15px;
}

.cards-container {
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-container article {
  position: relative;
  padding: 50px;
}

.cards-container article img {
  height: auto;
  max-width: 35%;
}

.cards-container article h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  color: #f2f2f2;
  text-transform: uppercase;
}

.cards-container article p {
  color: #ffffffbf;
  width: 80%;
  line-height: 1.7rem;
  letter-spacing: 0.05rem;
  margin-bottom: 100px;
}

.cards-container article a {
  position: absolute;
  bottom: 40px;
  background-color: #f2f2f2;
  text-decoration: none;
  padding: 12px 23px;
  border-radius: 70px;
  border: 3px solid transparent;
  font-size: 1.2rem;
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
}

.cards-container article a:hover {
  color: #f2f2f2 !important;
  background-color: transparent;
  border: 3px solid #f2f2f2;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.cards-container article:nth-child(1) {
  background-color: #e38826;
  border-radius: 8px 0 0 8px;
}

.cards-container article:nth-child(1) a {
  color: #e38826;
}

.cards-container article:nth-child(2) {
  background-color: #006970;
}

.cards-container article:nth-child(2) a {
  color: #006970;
}

.cards-container article:nth-child(3) {
  background-color: #004241;
  border-radius: 0 8px 8px 0;
}

.cards-container article:nth-child(3) a {
  color: #004241;
}

footer .mg-right {
  margin-right: 7px;
}

footer a {
  text-decoration: none;
  color: #e38826 !important;
  font-size: 0.89rem;
  padding: 2px 3.5px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

footer a:hover {
  background-color: #e38826;
  color: #f2f2f2 !important;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

@media screen and (max-width: 1400px) {
  .cards-container {
    width: 70%;
  }
}

@media screen and (max-width: 1250px) {
  .cards-container {
    width: 85%;
  }
}

@media screen and (max-width: 1050px) {
  .cards-container {
    width: 97%;
  }
  .cards-container article p {
    width: 90%;
  }
}

@media screen and (max-width: 850px) {
  main {
    height: auto;
  }
  main h1 {
    margin-top: 50px;
    text-align: center;
  }
  .cards-container {
    width: 80%;
    padding: 20px 0 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards-container article:nth-child(1) {
    background-color: #e38826;
    border-radius: 8px 8px 0 0;
  }
  .cards-container article:nth-child(1) a {
    color: #e38826;
  }
  .cards-container article:nth-child(3) {
    background-color: #004241;
    border-radius: 0 0 8px 8px;
  }
  .cards-container article:nth-child(3) a {
    color: #004241;
  }
  footer {
    margin: 5px 0 35px;
  }
}

@media screen and (max-width: 450px) {
  .cards-container {
    width: 99.5%;
  }
  .cards-container article p {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */